@model FaturamentoModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
        <div class="mt-4">
            <h5>Resultados</h5>
            <p>@Model.resposta</p>
        </div>
</div>